body > * {
  text-align: center;
}

table, button, svg, textarea {
    width: 100%;
    height: 100%;
}

td {
  border: 1px solid #888;
}

.node {
  stroke: #000;
  stroke-width: 3px;
  fill: #fff;
}

.node.compound {
  stroke-opacity: 0.5;
  fill-opacity: 0.2;
  fill: #000;
}

text {
  font-family: sans-serif;
}

.link {
  stroke: #333;
  stroke-width: 3px;
  stroke-opacity: 0.5;
  fill: none;
  cursor: pointer;
}

.port {
    stroke: #000;
    fill: none;
    z-index: 42;
}

.port.out {
  fill: darkred;
}

.port.in {
  fill: green;
}