body > * {
  text-align: center;
  font-family: sans-serif;
}

table, button, svg, textarea {
  width: 100%;
  height: 100%;
}

td {
  border: 1px solid #888;
}

.st-node {
  stroke: #000;
}

.st-node.atomic {
  stroke-width: 3px;
  fill: #fff;
}

.st-node.compound {
  stroke-opacity: 0.5;
  stroke-dasharray: 10 5;
  fill-opacity: 0;
}

.st-node-label {
  font-family: sans-serif;
}

.st-node-label.compound {
  opacity: 0.5;
}

.st-link {
  stroke: #333;
  stroke-width: 3px;
  opacity: 0.8;
  fill: none;
  marker-end: url(#markerArrow);
}

.st-port {
  stroke: #000;
  fill: none;
  z-index: 42;
}

.st-port.out {
  fill: darkred;
}

.st-port.in {
  fill: green;
}

.tooltip {
  display: none;
	position: absolute;
  background: #fff;
	border-radius: 2px;
	padding: 10px;
	font-size: 12px Arial;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tooltip table td {
  border: none;
  vertical-align: top;
}

.tooltip td:first-child {
  font-weight: bold;
  padding-right: 10px;
}

.tooltip td td:first-child {
  font-weight: normal;
  padding-right: 10px;
}

.tooltip td ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style-type: none;
}