body > * {
  text-align: center;
}

table, button, svg, textarea {
    width: 100%;
    height: 100%;
}

td {
  border: 1px solid #888;
}

.node {
  stroke: #000;
  stroke-width: 3px;
  stroke-opacity: .333;
  opacity: .333;
}

.link {
  stroke: #555;
  stroke-width: 3px;
  stroke-opacity: .666;
  fill: none;
  opacity: .666;
}

.port {
    stroke: #000;
    opacity: .6;
}
